body
{
	background-color:#000;
	overflow:hidden;
}

.page, .menu
{
	width:inherit;
	height:inherit;
}

#menu.ng-enter, #menu.ng-leave,
#home.ng-enter, #home.ng-leave
{
	position: absolute;
	left: 0;
	right: 0;
	transform: translateX(0);
	transition:all 500ms ease-in-out;
}

#menu.ng-enter 
{
  transform: translateX(-100%);
}

#menu.ng-enter-active {
  transform: translateX(0);
}


#menu.ng-leave
{
  transform: translateX(0);
}

#menu.ng-leave-active
{
  transform: translateX(-100%);
}


#home.ng-enter 
{
  transform: translateX(100%);
}

#home.ng-enter-active {
  transform: translateX(0);
}

#home.ng-leave
{
  transform: translateX(0);
}

#home.ng-leave-active
{
  transform: translateX(100%);
}


